@media (max-width: 1440px) {
  .pad80{
    padding: 60px;
  }
  .pad60{
    padding: 30px;
  }
  .pad30{
    padding: 5px;
  }
  .no-horizontal-pad{
    padding-left: 0;
    padding-right: 0;
  }
  .no-vertical-pad{
    padding-left: 0;
    padding-right: 0;
  }


  separador.veinte{
    padding: 15px 0;
  }
}
@media (max-width: 1280px) {
  .h1{
    font-size: 40px;
  }
  .h2{
    font-size: 25px;
  }
  .h3{
    font-size: 20px;
  }
  .h4{
    font-size: 14px;
  }
  .h5{
    font-size: 10px;
  }

  separador.veinte{
    padding: 10px 0;
  }

  .icono.icono-150{
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 600px) {

  .height-almost-full_comp{
    height: 50px;
  }

  section#header> .logo{
    width: 140px;
    margin-left: -10px;
  }

  nav#menu{
    display:block;
    background-color: #eee;
    position: absolute;
    width:100%;
    height: auto;
    top: 100%;
    padding:0;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
  }

  nav#menu .menuButton{
    display: block;
  }

  nav#menu .menuitem {
    margin-right: 0px;
    color: #222;
    padding: 0;
    border: none;
    font-size: 15px;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
    overflow: hidden;
    height: 0;
  }

  nav#menu .menuitem.selected {
    padding: 0;
    border: none;
    font-weight:bold;
  }

  nav#menu .button{
    display: none;
  }
  .columna{
    width: 100% !important;
    display: block;
  }

  .pad80{
    padding: 40px 10px;
  }
  .pad60{
    padding: 10px;
  }
  .pad30{
    padding: 10px;
  }
  .pad20{
    padding: 10px;
  }

  .h1{
    font-size: 30px
  }
  .title{
    font-size: 45px
  }

  .column-item div{
    padding: 10px
  }

  #visionciudad .columna>div .triangle{
    display: none;
  }

  section .obliqueTitle {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    margin-left: 0px;
    font-size: 40px;
    text-align: center;
    background: none;
    padding: 30px;
    border-radius: 0;
    box-shadow: none;
    transform: rotate3d(0,0,0,0);
    z-index: 2;
  }

  section .bk.image{
    background-image: none !important;
  }
  section .bk.image:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10000000;
  background: url(../img/cover-equipo.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}
