<section id="calendario" class="pad80 text-center bk-color-gray4 overflow-hidden">
  <div class="wrapper">
    <div class="title">Próximos Eventos</div>
    <separador class="veinte"></separador>
    <div class="horizontal-center">
      <div class="meetup">
        <div class="mug-badge" style="width: 214px;">
          <div class="mup-widget">
            <div class="mup-bd">
              <h3><a target="_top" href="https://www.meetup.com/El-Partido-de-la-Red/">Partido de la Red</a></h3>
              <h4> <div style="padding-top:5px;"><span class="mup-tlabel">EST. Jul 17, 2015</span></div></h4>
              <span class="mup-stats">
                <div class="mup-img-wrap">
                  <img src="http://photos3.meetupstatic.com/photos/event/1/2/5/2/600_441124690.jpeg" width="175" alt="Partido de la Red." class="mup-img">
                </div>
                259
                <span class="mup-tlabel"> Pares</span>
              </span>
              <span class="mup-stats">
                <div class="next-event">
                  <span class="mup-tlabel">
                    <a target="_top" href="https://www.meetup.com/El-Partido-de-la-Red/">Proponé nuevas ideas para eventos!</a>
                  </span>
                </div>
              </span>
              <h4>
                <div class="button mini h4 bold pad20 bk-color-2">
                  <a target="_top" href="https://www.meetup.com/El-Partido-de-la-Red/">UNIRSE</a>
                </div>
              </h4>
            </div>
            <div class="mup-ft">
              <div class="mup-logo">
                <div style="float:left;">
                  <a target="_top" href="http://www.meetup.com">
                    <img src="https://a248.e.akamai.net/secure.meetupstatic.com/img/84869143793177372874/birddog/everywhere_widget.png">
                  </a>
                </div>
                <div style="float:right;">
                  <div style="float:right;">
                    <img src="https://a248.e.akamai.net/secure.meetupstatic.com/img/03784007994490629714917/star_450.png" alt="4.5">
                  </div>
                  <br>
                  <div style="float:right;">
                    <span class="mup-tlabel">Valoración del grupo</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div id='calendar'></div>
    </div>
  </div>
</section>
