<section id="equipo" class="pad80 text-center overflow-hidden parallax">
    <div class="bk image repeat parallax-bk op-1" data-src="img/pattern-equipo.png"></div>
    <div class="title">El Equipo</div>
    <separador class="veinte"></separador>
    <div class="columna tercio pad20">
      <div class="list-item half-height horizontal-center vertical-center font-color-white" data-comision="comunicacion">
        <div>
          <div class="h2 bold">Comunicación</div>
          <separador class="diez"></separador>
          <div class="h4">[Explicamos de que se trata]</div>
        </div>
      </div>
    </div><div class="columna tercio pad20">
      <div class="list-item half-height horizontal-center vertical-center font-color-white" data-comision="plataformas">
        <div>
          <div class="h2 bold">Plataformas</div>
          <separador class="diez"></separador>
          <div class="h4">De la mano del Mati y el Fede desarrollamo' bien piola todo' lo proyeto para la pipol</div>
        </div>
      </div>
    </div><div class="columna tercio pad20">
      <div class="list-item half-height horizontal-center vertical-center font-color-white" data-comision="territorio">
        <div>
          <div class="h2 bold">Territorio</div>
          <separador class="diez"></separador>
          <div class="h4">[Explicamos de que se trata]</div>
        </div>
      </div>
    </div><div class="columna tercio pad20">
      <div class="list-item half-height horizontal-center vertical-center font-color-white" data-comision="afiliaciones">
        <div>
          <div class="h2 bold">Afiliaciones</div>
          <separador class="diez"></separador>
          <div class="h4">[Explicamos de que se trata]</div>
        </div>
      </div>
    </div><div class="columna tercio pad20">
      <div class="list-item half-height horizontal-center vertical-center font-color-white" data-comision="sinapsis">
        <div>
          <div class="h2 bold">Sinapsis</div>
          <separador class="diez"></separador>
          <div class="h4">[Explicamos de que se trata]</div>
        </div>
      </div>
    </div><div class="columna tercio pad20">
      <div class="list-item half-height horizontal-center vertical-center font-color-white" data-comision="financiamiento">
        <div>
          <div class="h2 bold">Financiamiento</div>
          <separador class="diez"></separador>
          <div class="h4">[Explicamos de que se trata]</div>
        </div>
      </div>
    </div>
</section>
