<section id="header" class="root pad20 horizontal-center width-full vertical-center height-almost-full_comp">
    <div class="icono logo" data-section="portada"></div>
    <nav id="menu">
      <div class="menuButton"></div>
      <li class="menuitem" data-section="visionciudad">Nuestra Ciudad</li>
      <li class="menuitem" data-section="equipo">Comisiones</li>
      <li class="menuitem" data-section="calendario">Calendario</li>
      <a href="http://afiliaciones.partidodelared.org/afiliate" target="_blank"><div class="button mini h4 bold pad30 bk-color-3-inv no-width">SUMATE</div></a>
    </nav>
</section>
