<head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="theme-color" content="#169CBF">
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <title>Partido de la Red</title>
        <meta name="description" content="El Partido de la Red es...">
        <meta name="author" content="Partido de la Red">
        <link rel="shortcut icon" href="/img/favicon.ico" />

        <link rel="stylesheet" href="css/styles.css?v=1.0">
        <link rel="stylesheet" href="css/styles_mobile.css?v=1.0">
        <link rel="stylesheet" href="css/fullcalendar.css?v=1.0">
        <link href="https://fonts.googleapis.com/css?family=Bad+Script|Titillium+Web:200,300,400,700,900" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
