<section id="herramientaDOS" class="text-center bk-color-gray2 font-color-white pad80">
  <div class="wrapper display-flex vertical-top">
    <div class="columna cuarto display-inline pad20 no-horizontal-pad">
      <div class="text-right h1 pad30 no-vertical-pad">
        Creamos la plataforma <b><a href="http://democracyos.org/" target="_blank">DemocracyOS</a></b> para que 
        <div class="h1 all-caps bolder">vos puedas decidir</div>
        como queres que sea tu ciudad
      </div>
      <separador class="veinte"></separador>
      <div class="pad20">
        <a target="_blank" href="https://asamblea.partidodelared.org"><div class="button h3 bold pad30 bk-color-2 width-full">Asamblea PDR</div></a>
        <separador class="diez"></separador>
        <a target="_blank" href="https://dos.partidodelared.org"><div class="button h3 bold pad30 bk-color-2 width-full">Legislatura CABA</div></a>
      </div>
    </div>
    <div class="columna tres-cuarto display-inline pad20">
      <div class="box-shadow-medium">
        <img class="width-full" src="/img/browserHeader.png">
        <video class="width-full" src="/img/dosdemo.webm" autoplay="" loop="" muted="">
      </video></div>
    </div>
  </div>
</section>
