<section id="herramientaDOS" class="text-center bk-color-gray2 font-color-white pad80">
  <div class="wrapper display-flex vertical-top">
    <div class="columna cuarto display-inline pad20 no-horizontal-pad">
      <div class="text-left h2 pad10 no-vertical-pad">Con la herramienta <b>DemocracyOS</b> podemos <b>informarnos</b>, <b>debatir</b> y <b>votar</b> sobre los temas que nos interesan</div>
      <separador class="veinte"></separador>
      <div class="button h3 bold pad30 bk-color-2 width-full"><a target="_blank" href="https://asamblea.partidodelared.org">Asamblea PDR</a></div>
      <separador class="diez"></separador>
      <div class="button h3 bold pad30 bk-color-2 width-full"><a target="_blank" href="https://dos.partidodelared.org">Legislatura CABA</a></div>
    </div>
    <div class="columna tres-cuarto display-inline pad20">
      <div class="box-shadow-medium">
        <img class="width-full" src="/img/browserHeader.png"/>
        <video class="width-full" src="/img/dosdemo.webm" autoplay loop muted/>
      </div>
    </div>
  </div>
</section>
