<section id="nuestrapropuesta" class="text-center bk-color-gray3">
  <div class="wrapper">
    <div class="h1 bold all-caps">Si la ciudad fuese nuestra</div>
    <div class="h1 bold all-caps">sería <span class="font-color-sustentable">sustentable</span>, <span class="font-color-abierta">abierta</span> e <span class="font-color-comoderecho">integradora</span></div>
    <separador class="veinte"></separador>
    <div class="h1 thin text-center pad80 no-vertical-pad">Sumate ayudando a empujar proyectos y acciones para tener la ciudad que queremos y demandando que nos dejen decidir sobre nuestras leyes de manera directa</div>
    <separador class="veinte"></separador>
    <separador class="veinte"></separador>
    <a href="http://afiliaciones.partidodelared.org/afiliate" target="_blank"><div class="button h2 pad60 bk-color-3 all-caps">Sumate a recuperar nuestra Ciudad</div></a>
    <separador class="veinte"></separador>
    <separador class="veinte"></separador>
  </div>
</section>
