<section id="nuestrapropuesta" class="pad60 text-center bk-color-gray3">
    <div class="h1">Si la ciudad fuese nuestra</div>
    <div class="h1">sería <span class="font-color-sustentable">sustentable</span>, <span class="font-color-abierta">abierta</span> y <span class="font-color-comoderecho">participativa</span></div>
    <separador class="veinte"></separador>
    <separador class="veinte"></separador>
    <a href="http://afiliaciones.partidodelared.org/afiliate" target="_blank"><div class="button h2 pad60 bk-color-3 all-caps">Sumate a recuperar nuestra Ciudad</div></a>
    <separador class="veinte"></separador>
    <separador class="veinte"></separador>
</section>
