<section id="portada" class="height-full vertical-center horizontal-center">
    <div class="bk pdrfy position-absolute width-full height-full"><video src="img/portada.mp4" autoplay muted loop poster="img/portada.jpg"></video></div>
    <div>
        <div class="title thiner all-caps">Hagamos <span class="bold">NUESTRA</span> la ciudad</div>
        <separador class="veinte"></separador>
        <a href="http://afiliaciones.partidodelared.org/afiliate" target="_blank"><div class="button h2 bold pad60 bk-color-3-inv">SUMATE</div></a>
    </div>
</section>
