<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Work</h2>
        <hr class="small">
        <div class="row">
          {% for post in site.posts %}
            <div class="col-md-6">
              <div class="portfolio-item">
                <a href="http://partidodelared.github.io{{ post.url }}">
                  {{ post.title }}
                  <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
                  <small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> . {{ post.category }} . <a href="http://fvilledary.github.io{{ post.url }}#disqus_thread"></a></small>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
