<section id="redes" class="bk-color-gray3">
    <div class="h1 bold obliqueTitle">NUESTRAS REDES</div>
    <div class="columna mitad pad80 horizontal-center bk-color-fb">
        <a href="http://fb.com/partidodelared" target="_blank"><div class="h1 bold text-left">Facebook</div></a>
        <div id="facebookFeed" class="h4 pad30 no-horizontal-pad">
            <div class="fb-like" data-share="false" data-width="200" data-show-faces="false"></div>
        </div>
    </div><div class="columna mitad pad80 horizontal-center bk-color-tw">
        <a href="http://twitter.com/partidodelared" target="_blank"><div class="h1 bold text-right">Twitter</div></a>
        <div id="twitterFeed" class="h4 pad30 no-horizontal-pad">
        </div>
    </div>
</section>
