<script src="js/jquery.min.js"></script>
<script src="js/options.js" ></script>
<script src="js/utilities.js" ></script>
<script src='js/moment.min.js'></script>
<script src='js/fullcalendar.min.js'></script>
<script src='js/lang-en-es-fr-pt.js'></script>
<script src='js/gcal.js'></script>
<script src="js/parallax.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/fbFeed.js" ></script>
<script src="js/twFeed.js" ></script>
<script src="js/twitterFetcher.min.js" ></script>
<script>
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
