<section id="visionciudad" class="pad80 text-center bk-color-gray3 animated">
  <div class="wrapper">
    <div class="title">Nuestra Ciudad</div>
    <separador class="veinte"></separador>
    <div class="columna pad5 tercio horizontal-center">
      <div class="column-item sustentable text-center bk-color-sustentable">
        <div class="h3 pad20">
          <div class="icono icono-100 sustentable mar10"></div>
          <div class="h2 bold pad10 no-horizontal-pad">SUSTENTABLE</div>
        </div>
        <div class="list-container">
          <div class="h4 list-item pad20">La Ciudad apuesta por un nuevo modelo económico</div>
          <div class="h4 list-item pad20">La Ciudad es para la gente, no para los autos</div>
          <div class="h4 list-item pad20">La Ciudad cuida su agua, su aire, su suelo y sus ecosistemas</div>
          <div class="h4 list-item pad20">La Ciudad vive como se alimenta</div>
          <div class="h4 list-item pad20">La ciudad tiene una matriz energética inteligente</div>
  
          <a href="/ciudad/sustentable"><div class="button h4 bold pad30 bk-color-2">Conocer más</div></a>
        </div>
        <separador class="diez"></separador>
      </div>
    </div><div class="columna pad5 tercio horizontal-center">
      <div class="column-item abierta text-center bk-color-abierta">
        <div class="h3 pad20">
          <div class="icono icono-100 abierta mar10"></div>
          <div class="h2 bold pad10 no-horizontal-pad">CÓDIGO ABIERTO</div>
        </div>
        <div class="list-container">
          <div class="h4 list-item pad20">La Ciudad tiene una cultura coral</div>
          <div class="h4 list-item pad20">La Ciudad cambia, si la cambiamos</div>
          <div class="h4 list-item pad20">La Ciudad tiene un estado abierto</div>
          <div class="h4 list-item pad20">La Ciudad abre la ciencia y los saberes</div>
          <div class="h4 list-item pad20">La Ciudad sincera la financiación política</div>
  
          <a href="/ciudad/codigo-abierto"><div class="button h4 bold pad30 bk-color-2">Conocer más</div></a>
        </div>
        <separador class="diez"></separador>
      </div>
    </div><div class="columna pad5 tercio horizontal-center">
      <div class="column-item comoderecho text-center bk-color-comoderecho">
        <div class="h3 pad20">
          <div class="icono icono-100 comoderecho mar10"></div>
          <div class="h2 bold pad10 no-horizontal-pad">INTEGRADORA</div>
        </div>
        <div class="list-container">
          <div class="h4 list-item pad20">La ciudad tiene, ante todo, una función social</div>
          <div class="h4 list-item pad20">La Ciudad es su espacio público</div>
          <div class="h4 list-item pad20">La Ciudad invierte más, donde hay menos</div>
          <div class="h4 list-item pad20">La Ciudad necesita una transformación Educativa</div>
          <div class="h4 list-item pad20">La Ciudad protege la salud</div>
  
          <a href="/ciudad/integradora"><div class="button h4 bold pad30 bk-color-2">Conocer más</div></a>
        </div>
        <separador class="diez"></separador>
      </div>
    </div>
  </div>
</section>
