<section id="visionciudad" class="pad60 text-center bk-color-gray3 animated">
  <div class="title">Nuestra Visión de Ciudad</div>
  <separador class="veinte"></separador>
  <div class="columna pad10 tercio horizontal-center">
    <div class="column-item sustentable pad60 text-center bk-color-sustentable">
        <div class="icono icono-150 sustentable"></div>
        <div class="h2 bold pad10 no-horizontal-pad">SUSTENTABLE</div>
        <div class="h3 thiner">SI LA CIUDAD FUESE SUSTENTABLE</div>
        <separador class="veinte"></separador>
        <div class="h3 list-item">¿Sería más verde, más equilibrada y tendría un comercio justo?</div>
        <separador class="veinte"></separador>
        <div class="h4 all-caps thin">¡Sumate a discutir una ciudad sustentables con nosotros!</div>
        <separador class="veinte"></separador>
        <div class="button mini h4 bold pad30 bk-color-2">Conocer más</div>
        <svg viewbox="0 0 100 10" preserveAspectRatio="none" class="triangle sustentable" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <polygon points="0 0 100 0 50 10"/>
        </svg>
      </div>
    </div><div class="columna pad10 tercio horizontal-center">
      <div class="column-item abierta pad60 text-center bk-color-abierta">
        <div class="icono icono-150 abierta"></div>
        <div class="h2 bold pad10 no-horizontal-pad">ABIERTA</div>
        <div class="h3 thiner">SI LA CIUDAD FUESE DE CÓDIGO ABIERTO</div>
        <separador class="veinte"></separador>
        <div class="h3 list-item">¿Tendríamos acceso a las cuentas, a los presupuestos y a lo que pasa en la legislatura?</div>
        <separador class="veinte"></separador>
        <div class="h4 all-caps thin">¡Sumate a discutir una Ciudad de Código abierto con nosotros!</div>
        <separador class="veinte"></separador>
        <div class="button mini h4 bold pad30 bk-color-2">Conocer más</div>
        <svg viewbox="0 0 100 10" preserveAspectRatio="none" class="triangle abierta" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <polygon points="0 0 100 0 50 10"/>
        </svg>
      </div>
    </div><div class="columna pad10 tercio horizontal-center">
      <div class="column-item comoderecho pad60 text-center bk-color-comoderecho">
        <div class="icono icono-150 comoderecho"></div>
        <div class="h2 bold pad10 no-horizontal-pad">PARTICIPATIVA</div>
        <div class="h3 thiner">SI LA CIUDAD FUESE PARTICIPATIVA</div>
        <separador class="veinte"></separador>
        <div class="h3 list-item">¿Tendrías voz en la legislatura? ¿Decidirías que pasa en tu barrio?</div>
        <separador class="veinte"></separador>
        <div class="h4 all-caps thin">¡Sumate a discutir una ciudad participativa con nosotros!</div>
        <separador class="veinte"></separador>
        <div class="button mini h4 bold pad30 bk-color-2">Conocer más</div>
        <svg viewbox="0 0 100 10" preserveAspectRatio="none" class="triangle comoderecho" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <polygon points="0 0 100 0 50 10"/>
        </svg>
      </div>
    </div>
</section>
